---
layout: page
title: Hold your temper
permalink: /
---
<!-- Slider Start
-->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-md-2">
        <div class="block">
          <h1 class="animated fadeInUp"><img src="img/Logo Groot 2.png" style="width: 500px;"></h1>
          <p class="animated fadeInUp">Hold Your Temper is designed to help you understand your coworkers better.
            Get to experience their point of view by putting yourself in their shoes.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- How To Play Start -->
<section id="howtoplay">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-12">
        <div class="block">
          <div class="section-title">
            <h2>How To Play</h2>
          </div>
          <strong>Goal of the Game</strong>
          <p>
            Hold Your Temper is designed to help you understand your coworkers better. Get to experience their point of
            view by putting yourself in their shoes. If you want to win the game guess everyone's character (Role and
            Emotion) and be the last one to keep your cards a secret from everyone else!
          </p>

          <strong>Preparation</strong>
          <p>Separate the four different card types (Roles, Emotions, Situations and Interventions) into four face-down
            stacks (one for each card type) and shuffle each stack.<br /></p>
          <p>
            Each player takes one Role card and one Emotion card. The players don't show their hand. The cards the
            players have drawn are their characters for this game. The player with the smallest shoe size starts (or in
            case of a tie the player who hasn't been on holiday the longest)
          </p>

          <strong>Playing</strong>
          <p>
            The starting player reveals the top card from the stack of Situation cards and reads it out loud, then
            leaves it face-up in effect.
          </p>
          <p>
            Now this player get to set the scene by reacting to this situation with a statement or question, and
            staying in character! Then other players get to react and speak. There are no turns. Wait for others to
            finish speaking! It is polite and you might otherwise miss a hint as to who their character is!
          </p>

          <p>
            If a silence has fallen for over 10 seconds, the player to the left of the last speaker has to react,
            either with a response to the last speaker or by taking an intervention card. He or she reads it aloud and
            leaves it face-up just like a Situation card. Then the game proceeds with the latest Intervention card in
            effect.
          </p>

          <strong>Winning</strong>
          <p>
            If at any point you think you know all other players' characters (the combination of their Roles and
            Emotions) you may call for a time-out to share your guesses with the other players. The other players will
            let you know if you're right or wrong.
          </p>

          <p>
            Have you guessed each player's character correctly? Congratulations! You win the game!
          </p>

          <p>
            Otherwise you get 2 points for each player whose character you guessed correctly, but -1 point if you
            guessed none right.
          </p>
          <p>
            Then each player you guessed correctly leaves the game and the game continues with the player to your left.
            This player has to draw an Intervention card and continue the game with that card in effect.
          </p>

        </div>
      </div>
      <!-- .col-lg-7 close -->
      <div class="col-lg-5 col-md-12">
        <div class="block">
          <img src="img/Poster.jpg" alt="Img">
        </div>
      </div>
      <!-- .col-lg-5 close -->
    </div>
  </div>
</section>

<!-- Roles Start -->
<section id="roles">
  <div class="container">
    <div class="section-title row sticky-top">
      <div class="col">
        <img style="float: left; height: 100px; transform: rotate(0.25turn)" src="img/Reclamezijdes/1 - Achterzijde - Roles.jpg">
      </div>
      <div class="col text-center">
        <h2>Roles</h2><br />
        <p>This card tells you where in the hierarchy you fit</p>
      </div>
      <div class="col">
          <img style="float: right; height: 100px; transform: rotate(0.25turn)" src="img/Reclamezijdes/1 - Achterzijde - Roles.jpg">
      </div>
    </div>

    <div class="row">
      {% for role in site.data.roles %}
      <div class="col-xl-4 col-md-6">
        <div class="card flex-md-row mb-4 shadow-sm h-md-250">
          <div class="card-body d-flex flex-column align-items-start">
            <h4 class="mb-0 text-dark">{{ role.title }}</h4>
            <p class="card-text text-left"> {{ role.description }} </p>
          </div>
          <img class="card-img-right flex-auto" data-src="holder.js/183x250?theme=thumb" alt="Thumbnail [183x250]"
            style="width: 183px; height: 250px;" src="{{ role.image }}" alt="Card image" data-holder-rendered="true">
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<!-- Emotions Start -->
<section id="emotions">
  <div class="container">
    <div class="section-title row sticky-top">
      <div class="col">
        <img style="float: left; height: 250px;" src="img/Reclamezijdes/2 - Achterzijde - Emotions.jpg">
      </div>
      <div class="col text-center">
        <h2>Emotions</h2><br />
        <p>This card tells you what your general mood is</p>
      </div>
      <div class="col">
        <img style="float: right; height: 250px; transform: rotate(0.5turn);" src="img/Reclamezijdes/2 - Achterzijde - Emotions.jpg">
      </div>
    </div>
    <div class="row">
        {% for emotion in site.data.emotions %}
        <div class="col-xl-4 col-md-6">
          <div class="card flex-md-row mb-4 shadow-sm h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
              <h4 class="mb-0 text-dark">{{ emotion.title }}</h4>
              <p class="card-text text-left"> {{ emotion.description }} </p>
            </div>
            <img class="card-img-right flex-auto" data-src="holder.js/183x250?theme=thumb" alt="Thumbnail [183x250]"
              style="width: 183px; height: 250px;" src="{{ emotion.image }}" alt="Card image" data-holder-rendered="true">
          </div>
        </div>
        {% endfor %}
      </div>
  </div>
</section>

<!-- Situations Start -->
<section id="situations">
    <div class="container">
      <div class="section-title row sticky-top">
        <div class="col">
            <img style="float: left; height: 100px; transform: rotate(0.25turn)" src="img/Reclamezijdes/3 - Achterzijde - Situations.jpg">
        </div>
      </div>
      <p>This card explains what happened, why you are here to discuss with your coworkers</p>
      <div class="row">
          {% for situation in site.data.situations %}
          <div class="col-xl-4 col-md-6">
            <div class="card flex-md-row mb-4 shadow-sm h-md-250">
              <div class="card-body d-flex flex-column align-items-start">
                <h4 class="mb-0 text-dark">{{ situation.title }}</h4>
                <p class="card-text text-left"> {{ situation.description }} </p>
              </div>
              <img class="card-img-right flex-auto" data-src="holder.js/183x250?theme=thumb" alt="Thumbnail [183x250]"
                style="width: 183px; height: 250px;" src="{{ situation.image }}" alt="Card image" data-holder-rendered="true">
            </div>
          </div>
          {% endfor %}
        </div>
    </div>
  </section>

<!-- Interventions Start -->
<section id="interventions">
    <div class="container">
      <div class="section-title row sticky-top">
        <div class="col">
          <img style="float: left; height: 250px;" src="img/Reclamezijdes/4 - Achterzijde - Interventions.jpg">
        </div>
        <div class="col text-center">
          <h2>Interventions</h2><br />
          <p>This card overrules the situation card</p>
        </div>
        <div class="col">
          <img style="float: right; height: 250px; transform: rotate(0.5turn);" src="img/Reclamezijdes/4 - Achterzijde - Interventions.jpg">
        </div>
      </div>
      <div class="row">
          {% for intervention in site.data.interventions %}
          <div class="col-xl-4 col-md-6">
            <div class="card flex-md-row mb-4 shadow-sm h-md-250">
              <div class="card-body d-flex flex-column align-items-start">
                <h4 class="mb-0 text-dark">{{ intervention.title }}</h4>
                <p class="card-text text-left"> {{ intervention.description }} </p>
              </div>
              <img class="card-img-right flex-auto" data-src="holder.js/183x250?theme=thumb" alt="Thumbnail [183x250]"
                style="width: 183px; height: 250px;" src="{{ intervention.image }}" alt="Card image" data-holder-rendered="true">
            </div>
          </div>
          {% endfor %}
        </div>
    </div>
  </section>
    
  <!-- Call to action Start -->
  <section id="call-to-action">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="block">
            <h2>Contact</h2>
            <p>Read more about what we do and our philosophy of design. Judge for yourself
              The work and results we&#x2019;ve achieved for other clients, and meet
              our highly experienced Team who just love to design.</p> <a class="btn btn-secondary btn-call-to-action"
              href="https://openstate.eu">Visit us</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Content Start -->
  <section id="testimonial">
    <div class="container">
      <div class="row">
        <div class="section-title text-center">
          <h2>Background</h2>
          <p>Far far away, behind the word mountains, far from the countries Vokalia
            and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove
            right at the coast of the Semantics</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">{% if site.data.funfacts.size &gt; 0 %}
          <div class="block">{% for ff in site.data.funfacts %}
            <ul class="counter-box clearfix">
              <li>
                <div class="block"> <i class="{{ ff.icon }}"></i>
                  <h4 class="counter">{{ ff.counter }}</h4>
                  <span>{{ ff.text }}</span>
                </div>
              </li>{% endfor %}
            </ul>
          </div>{% endif %}</div>
        <div class="col-lg-6">{% if site.data.testimonials.size &gt; 0 %}
          <div class="testimonial-carousel">
            <div id="testimonial-slider" class="owl-carousel">{% for tm in site.data.testimonials %}
              <div>
                <img src="img/cotation.png" alt="IMG">
                <p>{{ tm.testimonial }}</p>
                <div class="user">
                  <img src="{{ tm.image }}" alt="Pepole">
                  <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
                </div>
              </div>{% endfor %}</div>
          </div>{% endif %}</div>
      </div>
    </div>
  </section>