---
layout: page
title: Hold your temper
permalink: /
---
<!-- Slider Start
-->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-md-2">
        <div class="block">
          <h1 class="animated fadeInUp"><img src="img/logo-1000px-strip.png" alt="Hold Your Temper"></h1>
          <p class="animated fadeInUp">Hold Your Temper is designed to help you understand your coworkers better.
            Get to experience their point of view by putting yourself in their shoes.</p>
          <p class="animated fadeInUp">
            <a href="https://itunes.apple.com/us/app/hold-your-temper/id1441043304"><img src="img/download-apple-app-store.svg" alt="Download on the App Store"></a>
            <a href="https://play.google.com/store/apps/details?id=nl.platipus.holdyourtemper"><img src="img/download-google-play.svg" alt="Get it on Google Play"></a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- How To Play Start -->
<section id="howtoplay">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-12">
        <div class="block">
          <div class="section-title">
            <h2>How To Play</h2>
          </div>
          <strong>Goal of the Game</strong>
          <p>
            Hold Your Temper is designed to help you understand your coworkers better. Get to experience their point of
            view by putting yourself in their shoes. If you want to win the game guess everyone's character (Role and
            Emotion) and be the last one to keep your cards a secret from everyone else!
          </p>

          <strong>Preparation</strong>
          <p>Separate the four different card types (Roles, Emotions, Situations and Interventions) into four face-down
            stacks (one for each card type) and shuffle each stack.<br /></p>
          <p>
            Each player takes one Role card and one Emotion card. The players don't show their hand. The cards the
            players have drawn are their characters for this game. The player with the smallest shoe size starts (or in
            case of a tie the player who hasn't been on holiday the longest)
          </p>

          <strong>Playing</strong>
          <p>
            The starting player reveals the top card from the stack of Situation cards and reads it out loud, then
            leaves it face-up in effect.
          </p>
          <p>
            Now this player get to set the scene by reacting to this situation with a statement or question, and
            staying in character! Then other players get to react and speak. There are no turns. Wait for others to
            finish speaking! It is polite and you might otherwise miss a hint as to who their character is!
          </p>

          <p>
            If a silence has fallen for over 10 seconds, the player to the left of the last speaker has to react,
            either with a response to the last speaker or by taking an intervention card. He or she reads it aloud and
            leaves it face-up just like a Situation card. Then the game proceeds with the latest Intervention card in
            effect.
          </p>

          <strong>Winning</strong>
          <p>
            If at any point you think you know all other players' characters (the combination of their Roles and
            Emotions) you may call for a time-out to share your guesses with the other players. The other players will
            let you know if you're right or wrong.
          </p>

          <p>
            Have you guessed each player's character correctly? Congratulations! You win the game!
          </p>

          <p>
            Otherwise you get 2 points for each player whose character you guessed correctly, but -1 point if you
            guessed none right.
          </p>
          <p>
            Then each player you guessed correctly leaves the game and the game continues with the player to your left.
            This player has to draw an Intervention card and continue the game with that card in effect.
          </p>

        </div>
      </div>
      <!-- .col-lg-7 close -->
      <div class="col-lg-5 col-md-12">
        <div class="block">
          <img src="img/poster.jpg" alt="Hold Your Temper poster">
        </div>
      </div>
      <!-- .col-lg-5 close -->
    </div>
  </div>
</section>

{% for cardset in site.data.cards %}
<!-- {{ cardset.title }} Start -->
<section id="{{ cardset.id }}">
  <div class="container">
    <div class="section-title row sticky-top">
      <div class="col text-center">
        <img class="left-card" src="{{ cardset.imgpath }}backside-90.jpg">
        <img class="right-card" src="{{ cardset.imgpath }}backside-90.jpg">
        <h2>{{ cardset.title }}</h2>
        <p>{{ cardset.description }}</p>
      </div>
    </div>

    <div class="row">
      {% for card in cardset.cards %}
      <div class="col-lg-4 col-6 mb-4">
        <div class="row card2 shadow-sm">
          <div class="col-md-7 col-sm-12 card-body2">
            <h4 class="mb-0 text-dark">{{ card.title }}</h4>
            <p class="card-text text-left">{{ card.description }}</p>
          </div>
          <div class="col-md-5 col-sm-12 p-0">
            <img data-src="holder.js/183x250?theme=thumb" alt="Card type {{ cardset.id }} showing {{ card.title }}" src="{{ cardset.imgpath }}{{ card.image }}" data-holder-rendered="true">
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endfor %}
    
  <!-- Call to action Credits -->
  <a name="credits" id="credits"></a>
  <section id="call-to-action">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="block">
            <h2>Credits</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-sm-12">
          <div class="block">
            <img src="img/logo/logo-open-state.svg" class="mb-4" alt="Open State">
          </div>
        </div>
        <div class="col-lg-6 col-sm-12 text-left">
          <div class="block">
            <p>Game designer: <strong>Leydi van den Braken</strong></p>
            <p>Illustrator: <strong>Joris van Beusekom</strong></p>
            <p>Art director: <strong>N&oacute;ra Al Haider</strong></p>
            <p>This Card Game is a product of the project <a href="http://labourgames.eu/">LabourGames</a><br /> - the playful world at work</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Content Start -->
  <section id="testimonial">
    <div class="container">
      <div class="row">
        <div class="section-title text-center">
          <h2>Partners</h2>
        </div>
      </div>
      <div class="row">
        {% for partner in site.data.partners %}
        <div class="col-lg-4 col-6 mb-4">
            <img src="img/logo/{{ partner.image }}" alt="{{ partner.title }}">
        </div>
        {% endfor %}
      </div>
      <div class="row">
        <div class="section-title text-center">
          <h2>Supporters</h2>
        </div>
      </div>
      <div class="row">
        {% for supporter in site.data.supporters %}
        <div class="col-lg-6 col-12 mb-4">
            <img src="img/logo/{{ supporter.image }}" alt="{{ supporter.title }}">
        </div>
        {% endfor %}
      </div>
    </div>
  </section>