<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <!-- <li><a href="#">About Us</a></li>
            <li><a href="{{ site.baseurl }}/contact">Contact us</a></li>
            <li><a href="#">How it works</a></li>
            <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
            <li><a href="#">Terms</a></li> -->
          </ul>
        </div>
        <p><a href="https://openstate.eu/en/">Open State Foundation</a>. Open data for digital transparency.<br />
          <small>
            Partially based on a theme by <a href="http://www.themefisher.com">Themefisher</a>.
          </small>
        </p>
      </div>
    </div>
  </div>
</footer>